details {
  margin-left: 0; /* Align the toggle correctly */
  padding-left: 0;
}
  
summary {
  list-style: none; /* Removes default arrow */
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  cursor: pointer; /* Changes the cursor to pointer on hover */
  font-size: 40px; /* Customize summary font size */
}  