@import 'selection-options';
@import 'toggle-options';
@import 'custom-md';

// Default
p, ul, ol {
    font-size: var(--font-size);
}
html {
    font-family: system-ui, sans-serif;
}

img {
    max-width: 90%;
    height: auto;
}

a {
    text-decoration: none; /* Remove the underline */
    color: inherit; /* Match the link color to the parent element's color */
}

a:visited {
    color: inherit; /* Do not change the color of visited links */
}

ul, ol {
    list-style-type: none; /* Remove the list markers */
    padding-left: 0; /* Remove the default indentation (optional) */
    margin: 0; /* Remove default margin (optional) */
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    
    background-color: var(--font-color-bg);
    color: var(--font-color-code);
    border-radius: 5px;
    --code-padding: 5px;
    padding-top: var(--code-padding);
    padding-bottom: var(--code-padding);
}

// Selection-Options
::selection {
    background-color: var(--accent-color); /* Set background color to yellow */
    color: #000000;       /* Set text color to black */
}

// Vendor prefix for Firefox
::-moz-selection {
    background-color: var(--accent-color);
    color: #000000;
}