// Variables only here!

// Colors
:root {
    --main-color: #333333;
    --primary-color: #3498db;
    --secondary-color: #e74c3c;
    --font-color-l: #13151a;
    --font-color-d: #bbbb;

    --border-color: #aeaeae;

    --bg-color-l: #eaeaea;
    --bg-color-d: #313131;
}

// Sizes
:root {
    --header-height: 100px;
    --font-size: 16px;
    --side-space: 10%;
}

// Fonts
:root {
    --font-stack: 'Helvetica Neue', Helvetica, sans-serif;
}
