/* Variables only here! */

/* Colors */
:root {
    --main-color: #333333;
    --accent-color: #DF4C52;

    /* Font colors */
    --font-color-l: #13151a;
    --font-color-d: #bbbbbb;
    --font-color-code: var(--accent-color);
    --font-color-bg: #cccccc;

    --font-color-url-l: #56574c;
    --font-color-url-d: #999999;

    --border-color: #aeaeae;

    --bg-color-l: #eaeaea;
    --bg-color-d: #313131;
}

/* Sizes */
:root {
    --header-height: 100px;
    --font-size: 18px;
    --side-space: 10%;
    --vertical-space: 2rem;
}

/* Fonts */
:root {
    --font-stack: 'Helvetica Neue', Helvetica, sans-serif;
}

a {
    color: black;
}

a::visited {
    color: black;
}